In [ ]:
# А вот и наш первый минипроект!
# Прежде чем приступим, немного общей информации о минипроектах. В них вам даются данные и ряд вопросов разной сложности. 
# Работайте с ними как вам удобнее. Один из вариантов – анализировать на JupyterHub, другой – у себя локально в Jupyter.
# Датасеты доступны по ссылкам на Яндекс Диск и на JupyterHub в папке /shared/homeworks/python_ds_miniprojects.
# Датасет для этого минипроекта расположен в папке /shared/homeworks/python_ds_miniprojects/2

# В первом мини-проекте вам предстоит проанализировать данные о бронировании отелей. 
# Чуть ниже вы можете ознакомиться со списком вопросов и описанием данных. 
# Для удобства проверки, далее задачи разбиты на стэпы. В некоторых из них также можно встретить небольшие подсказки. 
# Успехов :)

 

# Задачи
# Импортируйте библиотеку pandas как pd. Загрузите датасет bookings.csv с разделителем ;. 
# Проверьте размер таблицы, типы переменных, а затем выведите первые 7 строк, чтобы посмотреть на данные. 
# Приведите названия колонок к нижнему регистру и замените пробелы на знак нижнего подчеркивания.
# Пользователи из каких стран совершили наибольшее число успешных бронирований? Укажите топ-5.
# На сколько ночей в среднем бронируют отели разных типов?
# Иногда тип номера, полученного клиентом (assigned_room_type), отличается от изначально забронированного (reserved_room_type). 
# Такое может произойти, например, по причине овербукинга. Сколько подобных наблюдений встретилось в датасете?

# Проанализируйте даты запланированного прибытия. – На какой месяц чаще всего успешно оформляли бронь в 2016?
# Изменился ли самый популярный месяц в 2017?
# – Сгруппируйте данные по годам и проверьте, 
# на какой месяц бронирования отеля типа City Hotel отменялись чаще всего в каждый из периодов

# Посмотрите на числовые характеристики трёх переменных: adults, children и babies. 
#     Какая из них имеет наибольшее среднее значение?
# Создайте колонку total_kids, объединив children и babies. 
# Для отелей какого типа среднее значение переменной оказалось наибольшим?
# Создайте переменную has_kids, которая принимает значение True, 
# если клиент при бронировании указал хотя бы одного ребенка (total_kids), в противном случае – False. 
# Посчитайте отношение количества ушедших пользователей к общему количеству клиентов, в
# ыраженное в процентах (churn rate). Укажите, среди какой группы показатель выше.
 

# Описание данных
# Имеются следующие переменные:

# Hotel – тип отеля (City Hotel или Resort Hotel)  
# Is canceled – бронирование было отменено (1) или нет (0); не отмененное считается успешным
# Lead time – количество дней, прошедших между датой бронирования и датой прибытия  
# Arrival full date – полная дата прибытия
# Arrival date year – год прибытия  
# Arrival date month – месяц прибытия  
# Arrival date week number – номер недели прибытия
# Arrival date day of month – день прибытия
# Stays in weekend nights – количество выходных (суббота или воскресенье), которые гость забронировал для проживания в отеле
# Stays in week nights – количество дней (с понедельника по пятницу), которые гость забронировал для проживания в отеле
# Stays total nights – общее число забронированных ночей (сумма двух предыдущих колонок)
# Adults – число взрослых
# Children – число детей
# Babies – число младенцев 
# Meal – выбранный тип питания
# Country – страна происхождения клиента
# Reserved room type – тип зарезервированного номера
# Assigned room type – тип полученного номера (может отличаться от забронированного)
# Customer type – тип бронирования
# Reservation status – значение последнего статуса брони: Canceled - было отменено клиентом; Check-Out - клиент зарегистрировался,
#     но уже покинул отель; No-Show - клиент не зарегистрировался и сообщил администрации отеля причину
# Reservation status date – дата обновления статуса

In [2]:
import pandas as pd

In [ ]:
#  Нус.... НАЧНЕМ )

# Вопрос № 1( ну вернее задание)

# Импортируйте библиотеку pandas как pd. Прочитайте датасет bookings.csv с разделителем ;. Ссылка на датасет находится в переменной path_to_file.

# Сохраните прочитанный датасет в bookings.

# Затем запишите первые 7 строк в переменную bookings_head.

In [3]:
path_to_file = "/mnt/HC_Volume_18315164/home-jupyter/jupyter-s-kamsarin/shared/homeworks/python_ds_miniprojects/2/bookings.csv"

In [4]:
bookings = pd.read_csv(path_to_file, sep =';')

In [5]:
bookings_head = bookings.head(7)

In [6]:
bookings_head

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

In [ ]:
# Вопрос № 2
# Посмотрите на размеры таблицы. Сколько всего в ней столбцов?

In [7]:
bookings.shape

(119390, 21)

In [ ]:
# Ответ - 21

In [ ]:
# Вопрос № 3
# К какому типу/каким типам относится большинство переменных?

In [8]:
bookings.dtypes

Hotel                         object
Is Canceled                    int64
Lead Time                      int64
arrival full date             object
Arrival Date Year              int64
Arrival Date Month            object
Arrival Date Week Number       int64
Arrival Date Day of Month      int64
Stays in Weekend nights        int64
Stays in week nights           int64
stays total nights             int64
Adults                         int64
Children                     float64
Babies                         int64
Meal                          object
Country                       object
Reserved Room Type            object
Assigned room type            object
customer type                 object
Reservation Status            object
Reservation status_date       object
dtype: object

In [ ]:
# посчитал пальцем по экрану)) итого = 10 + 10 + 1

In [18]:
#  ЗАдание №4
# Как вы уже могли заметить, при сборе датасета произошла небольшая ошибка, 
# и названия колонок были записаны в неудобном для дальнейшей работы формате. 
# Исправьте ситуацию, приведя названия столбцов к нижнему регистру и заменив пробелы на знак нижнего подчеркивания. 
# Например: Is Canceled -> is_canceled

# Могут пригодиться: 

# rename
# str.lower
# str.replace
# columns

In [9]:
bookings.columns

Index(['Hotel', 'Is Canceled', 'Lead Time', 'arrival full date',
       'Arrival Date Year', 'Arrival Date Month', 'Arrival Date Week Number',
       'Arrival Date Day of Month', 'Stays in Weekend nights',
       'Stays in week nights', 'stays total nights', 'Adults', 'Children',
       'Babies', 'Meal', 'Country', 'Reserved Room Type', 'Assigned room type',
       'customer type', 'Reservation Status', 'Reservation status_date'],
      dtype='object')

In [15]:
def replace_space_low(name):
    new_name = name.replace(' ', '_').lower()
    return new_name
bookings = bookings.rename(columns = replace_space_low)

In [16]:
bookings.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_full_date',
       'arrival_date_year', 'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'stays_total_nights', 'adults', 'children',
       'babies', 'meal', 'country', 'reserved_room_type', 'assigned_room_type',
       'customer_type', 'reservation_status', 'reservation_status_date'],
      dtype='object')

In [17]:
bookings.dtypes

hotel                         object
is_canceled                    int64
lead_time                      int64
arrival_full_date             object
arrival_date_year              int64
arrival_date_month            object
arrival_date_week_number       int64
arrival_date_day_of_month      int64
stays_in_weekend_nights        int64
stays_in_week_nights           int64
stays_total_nights             int64
adults                         int64
children                     float64
babies                         int64
meal                          object
country                       object
reserved_room_type            object
assigned_room_type            object
customer_type                 object
reservation_status            object
reservation_status_date       object
dtype: object

In [ ]:
# Теперича вроде усе окей

In [ ]:
#  ЗАдание №5
# 💀 Сложное задание! 💀

# Перейдем к исследованию данных! 
# Пользователи из каких стран совершили наибольшее число успешных бронирований? 
# Бронирование считается успешным, если в дальнейшем не было отменено (переменная is_canceled).
# В качестве ответа выберите страны, входящие в топ-5.

In [22]:

bookings.country.value_counts()

PRT    48590
GBR    12129
FRA    10415
ESP     8568
DEU     7287
       ...
CYM        1
LCA        1
DMA        1
AIA        1
HND        1
Name: country, Length: 177, dtype: int64

In [25]:
# product_data.query("title == 'Курс обучения «Эксперт»' and status == 'Завершен'")

bookings.query("is_canceled == False").country.value_counts()

PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
       ...
MAC        1
MLI        1
LCA        1
GUY        1
DMA        1
Name: country, Length: 165, dtype: int64

In [ ]:
# Ответ верный

In [ ]:
# задание № 6

# На сколько ночей (stays_total_nights)  в среднем бронируют отели типа City Hotel? Resort Hotel? 
# Запишите полученные значения в пропуски с точностью до 2 знаков после точки.

# Может пригодиться: round

In [26]:
bookings.head()

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03

In [28]:
bookings.groupby('hotel').agg({'stays_total_nights': 'mean'}).round(2)

              stays_total_nights
hotel
City Hotel                  2.98
Resort Hotel                4.32

In [ ]:
# задание сдано ! начислен 1 Балл ! а ведь такое полезное дело сделали )

In [ ]:
# задание № 7
# Иногда тип номера, присвоенного клиенту (assigned_room_type), 
# отличается от изначально забронированного (reserved_room_type). 
# Такое может произойти, например, по причине овербукинга.

# Сколько подобных наблюдений встретилось в датасете?

In [30]:
bookings.query('assigned_room_type != reserved_room_type ').shape

(14917, 21)

In [ ]:
# Ответ 14917 ... Да часто происходит замена

In [ ]:
# задание № 8
# Теперь проанализируйте даты запланированного прибытия (arrival_date_year).

# На какой месяц чаще всего оформляли бронь в 2016 году? Изменился ли самый популярный месяц в 2017?

In [32]:
bookings.query('arrival_date_year == 2016').arrival_date_month.value_counts()

October      6203
May          5478
April        5428
September    5394
June         5292
August       5063
March        4824
July         4572
November     4454
February     3891
December     3860
January      2248
Name: arrival_date_month, dtype: int64

In [33]:
bookings.query('arrival_date_year == 2017').arrival_date_month.value_counts()

May         6313
April       5661
June        5647
July        5313
March       4970
August      4925
February    4177
January     3681
Name: arrival_date_month, dtype: int64

In [ ]:
# Answer
# В 2016 чаще всего бронировали отель на октябрь
# В 2017 чаще всего оформляли бронирование на май

In [34]:
# задание № 9
# Сгруппируйте данные по годам, а затем проверьте, на какой месяц (arrival_date_month)
# бронирования отеля типа City Hotel отменялись чаще всего в 2015? 2016? 2017? 

# Hint: для этого сначала примените метод groupby, после чего выберите нужную колонку для дальнейших действий :)
# Например:

# df.groupby('column_1')['column_2'].what_to_do()
# - **Как решать это задание?**
    
#     Нужно отобрать сабсэт данных, где тип отеля City Hotel и бронь была отменена. Затем нужно сгруппировать данные по годам,
#     и посчитать в каждой группе число отмен в каждый из месяцев
    
# - **Как это сделать?**
    
#     Для отбора строк используйте метод `query`, 
#     где нужно специфицировать тип отеля и что бронь была отменена (`is_canceled` равно `1`).
#     Сгруппируйте данные по годам, а затем выберите колонку месяца и посчитайте частоты методом `value_counts`

In [47]:
bookings.query('hotel == "City Hotel" and is_canceled == 1').groupby('arrival_date_year').arrival_date_month.value_counts()

arrival_date_year  arrival_date_month
2015               September             1543
                   October               1321
                   August                1232
                   July                   939
                   December               668
                   November               301
2016               October               1947
                   June                  1720
                   September             1567
                   April                 1539
                   May                   1436
                   November              1360
                   August                1247
                   March                 1108
                   December              1072
                   July                  1043
                   February               930
                   January                438
2017               May                   2217
                   April                 1926
                   June                  1808
                   July                  1324
                   March                 1278
                   August                1123
                   January               1044
                   February               971
Name: arrival_date_month, dtype: int64

In [ ]:
# Ответ верный

In [ ]:
# задание № 10
# Посмотрите на числовые характеристики трёх колонок: adults, children и babies. 
#     Какая из них имеет наибольшее среднее значение?

In [48]:
bookings.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_full_date',
       'arrival_date_year', 'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'stays_total_nights', 'adults', 'children',
       'babies', 'meal', 'country', 'reserved_room_type', 'assigned_room_type',
       'customer_type', 'reservation_status', 'reservation_status_date'],
      dtype='object')

In [53]:
bookings[['adults', 'children','babies' ]].mean()

adults      1.856403
children    0.103890
babies      0.007949
dtype: float64

In [54]:
bookings[['adults', 'children','babies' ]].mean().idxmax()

'adults'

In [ ]:
# .idxmax() Выдал максимальный индекс

In [ ]:
# задание № 11
# Создайте колонку total_kids, объединив столбцы children и babies. 
# Для отелей какого типа среднее значение переменной оказалось наибольшим?

# City hotel – отель находится в городе
# Resort hotel – отель курортный
# В качестве ответа укажите наибольшее среднее total_kids, округлив до 2 знаков после точки.

In [120]:
bookings['total_kids'] = bookings.children + bookings.babies

In [62]:
bookings.groupby('hotel').agg({'total_kids': 'mean'}).round(2)

              total_kids
hotel
City Hotel          0.10
Resort Hotel        0.14

In [63]:
bookings.groupby('hotel').agg({'total_kids': 'mean'}).round(2).max()

total_kids    0.14
dtype: float64

In [ ]:
# Ответ 0,14 но честно прока не понятно для каких целей

In [ ]:
# задание № 12
# 💀 Сложное задание! 💀

# Не все бронирования завершились успешно (is_canceled), поэтому можно посчитать, сколько клиентов было потеряно в процессе.
# Иными словами, посчитать метрику под названием Churn Rate.

# Churn rate (отток, коэффициент оттока) – это процент подписчиков (например, на push-уведомления от сайта), 
# которые отписались от канала коммуникации, отказались от услуг сервиса в течение определенного периода времени. 
# Иными словами, представляет собой отношение количества ушедших пользователей к общему количеству пользователей,
# выраженное в процентах.

# В нашем случае Churn Rate - это процент клиентов, которые отменили бронирование. 
# Давайте посмотрим, как эта метрика связана с наличием детей у клиентов!

# Создайте колонку has_kids, которая принимает значение True, 
# если клиент при бронировании указал хотя бы одного ребенка (total_kids), в противном случае – False. 
# Далее проверьте, среди какой группы пользователей показатель оттока выше. 

# В качестве ответа укажите наибольший % оттока, округленный до 2 знаков после точки 
# (то есть доля 0.24563 будет 24.56% и в ответ пойдёт 24.56)

In [64]:
bookings.dtypes

hotel                         object
is_canceled                    int64
lead_time                      int64
arrival_full_date             object
arrival_date_year              int64
arrival_date_month            object
arrival_date_week_number       int64
arrival_date_day_of_month      int64
stays_in_weekend_nights        int64
stays_in_week_nights           int64
stays_total_nights             int64
adults                         int64
children                     float64
babies                         int64
meal                          object
country                       object
reserved_room_type            object
assigned_room_type            object
customer_type                 object
reservation_status            object
reservation_status_date       object
total_kids                   float64
dtype: object

In [119]:
bookings['has_kids'] = bookings.total_kids > 0

In [66]:
bookings.dtypes

hotel                         object
is_canceled                    int64
lead_time                      int64
arrival_full_date             object
arrival_date_year              int64
arrival_date_month            object
arrival_date_week_number       int64
arrival_date_day_of_month      int64
stays_in_weekend_nights        int64
stays_in_week_nights           int64
stays_total_nights             int64
adults                         int64
children                     float64
babies                         int64
meal                          object
country                       object
reserved_room_type            object
assigned_room_type            object
customer_type                 object
reservation_status            object
reservation_status_date       object
total_kids                   float64
has_kids                        bool
dtype: object

In [127]:
bookings.query('has_kids  and is_canceled == 1 ').shape[0]

3259

In [128]:
bookings.query('has_kids').shape[0]

9332

In [130]:
curn_rate_has_kids_is_canceled_1 = bookings.query('has_kids and is_canceled == 1 ').shape[0] / bookings.query('has_kids').shape[0]

In [135]:
curn_rate_has_kids_is_canceled_1 * 100

34.92284612087441

In [102]:
bookings.query('has_kids == False and is_canceled == 1 ').shape[0]

40965

In [129]:
bookings.query('has_kids == False ').shape[0]

110058

In [136]:
curn_rate_not_has_kids_is_canceled_1 = bookings.query('has_kids == False and is_canceled == 1 ').shape[0] / bookings.query('has_kids == False ').shape[0]

In [138]:
curn_rate_not_has_kids_is_canceled_1 * 100

37.221283323338604

In [ ]:
#  Да ... затупил ) что на что делить