Дополнительный проект
В папке subsid (shared/homeworks/python_ds_miniprojects/5_subsid) находятся файлы (tm_sales_1, tm_sales_2, ...) с продажами продуктов через телемаркетинг. Каждый файл содержит, как минимум, 4 колонки (поля): FILIAL_ID, SUBS_ID, PROD_ID, ACT_DTTM.

Суть задачи в том, чтобы проверить подключения продуктов определенным пользователям, соединив файлы о продажах с логами по подключениям в системе.

Особенности данных:

сотрудники телемаркетинга не всегда указывают полный id, если 'id' нет в начале SUBS_ID, то нужно его добавить
поля в файлах могут быть расположены абсолютно случайным образом, но названия полей статичны
продажа не засчитывается, если отключение (END_DTTM) произошло меньше чем через 5 минут после подключения (START_DTTM)
если в файле с продажами встречается строка без указанного SUBS_ID, она пропускается
Сохраните результат в csv файл с разделителем ;, содержащий корректные подключения.

Note: обратите внимание на то, как pandas переводит дату из строки, возможно вам понадобится параметр format

Пример содержания итогового файла (колонка difference это разница между START_DTTM и END_DTTM):

In [1]:
import pandas as pd
import os
import seaborn as sns
import matplotlib.pyplot as plt 
%matplotlib inline

In [19]:
df_date = pd.DataFrame()

In [6]:
os.listdir('/mnt/HC_Volume_18315164/home-jupyter/jupyter-s-kamsarin/shared/homeworks/python_ds_miniprojects/5_subsid/subsid/')

['prod_activations_logs.csv',
 'tm_sales_1.csv',
 'tm_sales_2.csv',
 'tm_sales_3.csv']

In [7]:
path_to_data = '/mnt/HC_Volume_18315164/home-jupyter/jupyter-s-kamsarin/shared/homeworks/python_ds_miniprojects/5_subsid/subsid/'

In [8]:
os.listdir(path_to_data)

['prod_activations_logs.csv',
 'tm_sales_1.csv',
 'tm_sales_2.csv',
 'tm_sales_3.csv']

In [15]:
folder_date = [ i for i in os.listdir(path_to_data) if  i.startswith('tm_sales')]

In [16]:
folder_date

['tm_sales_1.csv', 'tm_sales_2.csv', 'tm_sales_3.csv']

In [23]:
for tmp in folder_date:
    print(tmp)

tm_sales_1.csv
tm_sales_2.csv
tm_sales_3.csv

In [25]:
for tmp in folder_date:
    df1 = pd.read_csv(path_to_data+tmp, sep = ';')
    df_date = df_date.append(df1)

In [26]:
df_date

     SUBS_ID  FILIAL_ID  PROD_ID          ACT_DTTM
0  id4651830          1     1954  20-03-2020 14:59
1    7646509          5     6431  19-03-2020 13:00
2  id7412683          4     3313  22-03-2020 17:25
0  id5416547          3     1743  17-03-2020 10:17
1        NaN          4     7421  12-03-2020 11:25
2    8362218          7     9879  05-03-2020 11:42
3    2185490          2     3210  16-03-2020 16:28
0  id5764122          3     1499  18-03-2020 15:44
1  id7642700          6     3020  15-03-2020 14:21
2  id1374509          2     5677  17-03-2020 11:48

In [39]:
df_date.dropna(inplace=True)

In [40]:
df_date

     SUBS_ID  FILIAL_ID  PROD_ID          ACT_DTTM
0  id4651830          1     1954  20-03-2020 14:59
1    7646509          5     6431  19-03-2020 13:00
2  id7412683          4     3313  22-03-2020 17:25
0  id5416547          3     1743  17-03-2020 10:17
2    8362218          7     9879  05-03-2020 11:42
3    2185490          2     3210  16-03-2020 16:28
0  id5764122          3     1499  18-03-2020 15:44
1  id7642700          6     3020  15-03-2020 14:21
2  id1374509          2     5677  17-03-2020 11:48

In [41]:
df_date.SUBS_ID = df_date.apply({'SUBS_ID': lambda x: x if x.startswith('id') else 'id'+x})

In [43]:
df_date

     SUBS_ID  FILIAL_ID  PROD_ID          ACT_DTTM
0  id4651830          1     1954  20-03-2020 14:59
1  id7646509          5     6431  19-03-2020 13:00
2  id7412683          4     3313  22-03-2020 17:25
0  id5416547          3     1743  17-03-2020 10:17
2  id8362218          7     9879  05-03-2020 11:42
3  id2185490          2     3210  16-03-2020 16:28
0  id5764122          3     1499  18-03-2020 15:44
1  id7642700          6     3020  15-03-2020 14:21
2  id1374509          2     5677  17-03-2020 11:48

In [46]:
df1 = df_date[['ACT_DTTM', 'FILIAL_ID', 'PROD_ID','SUBS_ID']]

In [47]:
df1

           ACT_DTTM  FILIAL_ID  PROD_ID    SUBS_ID
0  20-03-2020 14:59          1     1954  id4651830
1  19-03-2020 13:00          5     6431  id7646509
2  22-03-2020 17:25          4     3313  id7412683
0  17-03-2020 10:17          3     1743  id5416547
2  05-03-2020 11:42          7     9879  id8362218
3  16-03-2020 16:28          2     3210  id2185490
0  18-03-2020 15:44          3     1499  id5764122
1  15-03-2020 14:21          6     3020  id7642700
2  17-03-2020 11:48          2     5677  id1374509

In [45]:
df_date.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9 entries, 0 to 2
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   SUBS_ID    9 non-null      object
 1   FILIAL_ID  9 non-null      int64
 2   PROD_ID    9 non-null      int64
 3   ACT_DTTM   9 non-null      object
dtypes: int64(2), object(2)
memory usage: 360.0+ bytes

In [90]:
prod_activations_logs = pd.read_csv(path_to_data + 'prod_activations_logs.csv', sep=';')

In [91]:
prod_activations_logs

     SUBS_ID  PROD_ID        START_DTTM          END_DTTM
1  id4651830     1954  20-03-2020 14:59  01-12-2020 00:00
5  id7646509     6431  19-03-2020 13:00  19-03-2020 13:03
2  id7461794     3310  20-03-2020 17:25  01-12-2020 00:00
3  id5416547     1743  17-03-2020 10:17  25-03-2020 11:00
4  id8238421     1859  01-03-2020 11:42  01-03-2020 11:43
3  id8641743     2752  20-03-2020 15:44  21-04-2020 15:44
2  id2185490     3210  16-03-2020 16:28  01-12-2020 00:00
6  id7642700     3020  15-03-2020 14:21  15-03-2020 23:42
2  id8741631     5677  19-03-2020 12:28  01-12-2020 00:00

In [92]:
subsid_log = df_date.merge(prod_activations_logs, how='inner', on=['PROD_ID', 'SUBS_ID'])

In [93]:
subsid_log

,SUBS_ID,FILIAL_ID,PROD_ID,ACT_DTTM,START_DTTM,END_DTTM
0,id4651830,1,1954,20-03-2020 14:59,20-03-2020 14:59,01-12-2020 00:00
1,id7646509,5,6431,19-03-2020 13:00,19-03-2020 13:00,19-03-2020 13:03
2,id5416547,3,1743,17-03-2020 10:17,17-03-2020 10:17,25-03-2020 11:00
3,id2185490,2,3210,16-03-2020 16:28,16-03-2020 16:28,01-12-2020 00:00
4,id7642700,6,3020,15-03-2020 14:21,15-03-2020 14:21,15-03-2020 23:42

In [83]:
pd.to_datetime(subsid_log['ACT_DTTM'] , dayfirst=True)

0   2020-03-20 14:59:00
1   2020-03-19 13:00:00
2   2020-03-17 10:17:00
3   2020-03-16 16:28:00
4   2020-03-15 14:21:00
Name: ACT_DTTM, dtype: datetime64[ns]

In [94]:
subsid_log[['ACT_DTTM', 'START_DTTM', 'END_DTTM']] = (subsid_log[['ACT_DTTM', 'START_DTTM', 'END_DTTM']]
                                                      .apply(pd.to_datetime, dayfirst=True)
                                                     )

In [95]:
subsid_log.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   SUBS_ID     5 non-null      object
 1   FILIAL_ID   5 non-null      int64
 2   PROD_ID     5 non-null      int64
 3   ACT_DTTM    5 non-null      datetime64[ns]
 4   START_DTTM  5 non-null      datetime64[ns]
 5   END_DTTM    5 non-null      datetime64[ns]
dtypes: datetime64[ns](3), int64(2), object(1)
memory usage: 280.0+ bytes

In [96]:
subsid_log

,SUBS_ID,FILIAL_ID,PROD_ID,ACT_DTTM,START_DTTM,END_DTTM
0,id4651830,1,1954,2020-03-20 14:59:00,2020-03-20 14:59:00,2020-12-01 00:00:00
1,id7646509,5,6431,2020-03-19 13:00:00,2020-03-19 13:00:00,2020-03-19 13:03:00
2,id5416547,3,1743,2020-03-17 10:17:00,2020-03-17 10:17:00,2020-03-25 11:00:00
3,id2185490,2,3210,2020-03-16 16:28:00,2020-03-16 16:28:00,2020-12-01 00:00:00
4,id7642700,6,3020,2020-03-15 14:21:00,2020-03-15 14:21:00,2020-03-15 23:42:00

In [97]:
subsid_log['difference'] = subsid_log.END_DTTM - subsid_log.START_DTTM

In [98]:
subsid_log

,SUBS_ID,FILIAL_ID,PROD_ID,ACT_DTTM,START_DTTM,END_DTTM,difference
0,id4651830,1,1954,2020-03-20 14:59:00,2020-03-20 14:59:00,2020-12-01 00:00:00,255 days 09:01:00
1,id7646509,5,6431,2020-03-19 13:00:00,2020-03-19 13:00:00,2020-03-19 13:03:00,0 days 00:03:00
2,id5416547,3,1743,2020-03-17 10:17:00,2020-03-17 10:17:00,2020-03-25 11:00:00,8 days 00:43:00
3,id2185490,2,3210,2020-03-16 16:28:00,2020-03-16 16:28:00,2020-12-01 00:00:00,259 days 07:32:00
4,id7642700,6,3020,2020-03-15 14:21:00,2020-03-15 14:21:00,2020-03-15 23:42:00,0 days 09:21:00

In [103]:
subsid_log.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5 entries, 0 to 4
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   SUBS_ID     5 non-null      object
 1   FILIAL_ID   5 non-null      int64
 2   PROD_ID     5 non-null      int64
 3   ACT_DTTM    5 non-null      datetime64[ns]
 4   START_DTTM  5 non-null      datetime64[ns]
 5   END_DTTM    5 non-null      datetime64[ns]
 6   difference  5 non-null      timedelta64[ns]
dtypes: datetime64[ns](3), int64(2), object(1), timedelta64[ns](1)
memory usage: 320.0+ bytes

In [99]:
subsid_log.query("difference >= '5m'")

,SUBS_ID,FILIAL_ID,PROD_ID,ACT_DTTM,START_DTTM,END_DTTM,difference
0,id4651830,1,1954,2020-03-20 14:59:00,2020-03-20 14:59:00,2020-12-01 00:00:00,255 days 09:01:00
2,id5416547,3,1743,2020-03-17 10:17:00,2020-03-17 10:17:00,2020-03-25 11:00:00,8 days 00:43:00
3,id2185490,2,3210,2020-03-16 16:28:00,2020-03-16 16:28:00,2020-12-01 00:00:00,259 days 07:32:00
4,id7642700,6,3020,2020-03-15 14:21:00,2020-03-15 14:21:00,2020-03-15 23:42:00,0 days 09:21:00

In [100]:
res = subsid_log.query("difference >= '5m'").sort_values('SUBS_ID').SUBS_ID.to_list()

In [101]:
res

['id2185490', 'id4651830', 'id5416547', 'id7642700']

In [102]:
[print(i, end=', ') for i in res]

id2185490, id4651830, id5416547, id7642700,

[None, None, None, None]