In [ ]:
# –ê –≤–æ—Ç –∏ –Ω–∞—à –ø–µ—Ä–≤—ã–π –º–∏–Ω–∏–ø—Ä–æ–µ–∫—Ç!
# –ü—Ä–µ–∂–¥–µ —á–µ–º –ø—Ä–∏—Å—Ç—É–ø–∏–º, –Ω–µ–º–Ω–æ–≥–æ –æ–±—â–µ–π –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏–∏ –æ –º–∏–Ω–∏–ø—Ä–æ–µ–∫—Ç–∞—Ö. –í –Ω–∏—Ö –≤–∞–º –¥–∞—é—Ç—Å—è –¥–∞–Ω–Ω—ã–µ –∏ —Ä—è–¥ –≤–æ–ø—Ä–æ—Å–æ–≤ —Ä–∞–∑–Ω–æ–π —Å–ª–æ–∂–Ω–æ—Å—Ç–∏. 
# –†–∞–±–æ—Ç–∞–π—Ç–µ —Å –Ω–∏–º–∏ –∫–∞–∫ –≤–∞–º —É–¥–æ–±–Ω–µ–µ. –û–¥–∏–Ω –∏–∑ –≤–∞—Ä–∏–∞–Ω—Ç–æ–≤ ‚Äì –∞–Ω–∞–ª–∏–∑–∏—Ä–æ–≤–∞—Ç—å –Ω–∞ JupyterHub, –¥—Ä—É–≥–æ–π ‚Äì —É —Å–µ–±—è –ª–æ–∫–∞–ª—å–Ω–æ –≤ Jupyter.
# –î–∞—Ç–∞—Å–µ—Ç—ã –¥–æ—Å—Ç—É–ø–Ω—ã –ø–æ —Å—Å—ã–ª–∫–∞–º –Ω–∞ –Ø–Ω–¥–µ–∫—Å –î–∏—Å–∫ –∏ –Ω–∞ JupyterHub –≤ –ø–∞–ø–∫–µ /shared/homeworks/python_ds_miniprojects.
# –î–∞—Ç–∞—Å–µ—Ç –¥–ª—è —ç—Ç–æ–≥–æ –º–∏–Ω–∏–ø—Ä–æ–µ–∫—Ç–∞ —Ä–∞—Å–ø–æ–ª–æ–∂–µ–Ω –≤ –ø–∞–ø–∫–µ /shared/homeworks/python_ds_miniprojects/2

# –í –ø–µ—Ä–≤–æ–º –º–∏–Ω–∏-–ø—Ä–æ–µ–∫—Ç–µ –≤–∞–º –ø—Ä–µ–¥—Å—Ç–æ–∏—Ç –ø—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä–æ–≤–∞—Ç—å –¥–∞–Ω–Ω—ã–µ –æ –±—Ä–æ–Ω–∏—Ä–æ–≤–∞–Ω–∏–∏ –æ—Ç–µ–ª–µ–π. 
# –ß—É—Ç—å –Ω–∏–∂–µ –≤—ã –º–æ–∂–µ—Ç–µ –æ–∑–Ω–∞–∫–æ–º–∏—Ç—å—Å—è —Å–æ —Å–ø–∏—Å–∫–æ–º –≤–æ–ø—Ä–æ—Å–æ–≤ –∏ –æ–ø–∏—Å–∞–Ω–∏–µ–º –¥–∞–Ω–Ω—ã—Ö. 
# –î–ª—è —É–¥–æ–±—Å—Ç–≤–∞ –ø—Ä–æ–≤–µ—Ä–∫–∏, –¥–∞–ª–µ–µ –∑–∞–¥–∞—á–∏ —Ä–∞–∑–±–∏—Ç—ã –Ω–∞ —Å—Ç—ç–ø—ã. –í –Ω–µ–∫–æ—Ç–æ—Ä—ã—Ö –∏–∑ –Ω–∏—Ö —Ç–∞–∫–∂–µ –º–æ–∂–Ω–æ –≤—Å—Ç—Ä–µ—Ç–∏—Ç—å –Ω–µ–±–æ–ª—å—à–∏–µ –ø–æ–¥—Å–∫–∞–∑–∫–∏. 
# –£—Å–ø–µ—Ö–æ–≤ :)

 

# –ó–∞–¥–∞—á–∏
# –ò–º–ø–æ—Ä—Ç–∏—Ä—É–π—Ç–µ –±–∏–±–ª–∏–æ—Ç–µ–∫—É pandas –∫–∞–∫ pd. –ó–∞–≥—Ä—É–∑–∏—Ç–µ –¥–∞—Ç–∞—Å–µ—Ç bookings.csv —Å —Ä–∞–∑–¥–µ–ª–∏—Ç–µ–ª–µ–º ;. 
# –ü—Ä–æ–≤–µ—Ä—å—Ç–µ —Ä–∞–∑–º–µ—Ä —Ç–∞–±–ª–∏—Ü—ã, —Ç–∏–ø—ã –ø–µ—Ä–µ–º–µ–Ω–Ω—ã—Ö, –∞ –∑–∞—Ç–µ–º –≤—ã–≤–µ–¥–∏—Ç–µ –ø–µ—Ä–≤—ã–µ 7 —Å—Ç—Ä–æ–∫, —á—Ç–æ–±—ã –ø–æ—Å–º–æ—Ç—Ä–µ—Ç—å –Ω–∞ –¥–∞–Ω–Ω—ã–µ. 
# –ü—Ä–∏–≤–µ–¥–∏—Ç–µ –Ω–∞–∑–≤–∞–Ω–∏—è –∫–æ–ª–æ–Ω–æ–∫ –∫ –Ω–∏–∂–Ω–µ–º—É —Ä–µ–≥–∏—Å—Ç—Ä—É –∏ –∑–∞–º–µ–Ω–∏—Ç–µ –ø—Ä–æ–±–µ–ª—ã –Ω–∞ –∑–Ω–∞–∫ –Ω–∏–∂–Ω–µ–≥–æ –ø–æ–¥—á–µ—Ä–∫–∏–≤–∞–Ω–∏—è.
# –ü–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–∏ –∏–∑ –∫–∞–∫–∏—Ö —Å—Ç—Ä–∞–Ω —Å–æ–≤–µ—Ä—à–∏–ª–∏ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ —É—Å–ø–µ—à–Ω—ã—Ö –±—Ä–æ–Ω–∏—Ä–æ–≤–∞–Ω–∏–π? –£–∫–∞–∂–∏—Ç–µ —Ç–æ–ø-5.
# –ù–∞ —Å–∫–æ–ª—å–∫–æ –Ω–æ—á–µ–π –≤ —Å—Ä–µ–¥–Ω–µ–º –±—Ä–æ–Ω–∏—Ä—É—é—Ç –æ—Ç–µ–ª–∏ —Ä–∞–∑–Ω—ã—Ö —Ç–∏–ø–æ–≤?
# –ò–Ω–æ–≥–¥–∞ —Ç–∏–ø –Ω–æ–º–µ—Ä–∞, –ø–æ–ª—É—á–µ–Ω–Ω–æ–≥–æ –∫–ª–∏–µ–Ω—Ç–æ–º (assigned_room_type), –æ—Ç–ª–∏—á–∞–µ—Ç—Å—è –æ—Ç –∏–∑–Ω–∞—á–∞–ª—å–Ω–æ –∑–∞–±—Ä–æ–Ω–∏—Ä–æ–≤–∞–Ω–Ω–æ–≥–æ (reserved_room_type). 
# –¢–∞–∫–æ–µ –º–æ–∂–µ—Ç –ø—Ä–æ–∏–∑–æ–π—Ç–∏, –Ω–∞–ø—Ä–∏–º–µ—Ä, –ø–æ –ø—Ä–∏—á–∏–Ω–µ –æ–≤–µ—Ä–±—É–∫–∏–Ω–≥–∞. –°–∫–æ–ª—å–∫–æ –ø–æ–¥–æ–±–Ω—ã—Ö –Ω–∞–±–ª—é–¥–µ–Ω–∏–π –≤—Å—Ç—Ä–µ—Ç–∏–ª–æ—Å—å –≤ –¥–∞—Ç–∞—Å–µ—Ç–µ?

# –ü—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä—É–π—Ç–µ –¥–∞—Ç—ã –∑–∞–ø–ª–∞–Ω–∏—Ä–æ–≤–∞–Ω–Ω–æ–≥–æ –ø—Ä–∏–±—ã—Ç–∏—è. ‚Äì –ù–∞ –∫–∞–∫–æ–π –º–µ—Å—è—Ü —á–∞—â–µ –≤—Å–µ–≥–æ —É—Å–ø–µ—à–Ω–æ –æ—Ñ–æ—Ä–º–ª—è–ª–∏ –±—Ä–æ–Ω—å –≤ 2016?
# –ò–∑–º–µ–Ω–∏–ª—Å—è –ª–∏ —Å–∞–º—ã–π –ø–æ–ø—É–ª—è—Ä–Ω—ã–π –º–µ—Å—è—Ü –≤ 2017?
# ‚Äì –°–≥—Ä—É–ø–ø–∏—Ä—É–π—Ç–µ –¥–∞–Ω–Ω—ã–µ –ø–æ –≥–æ–¥–∞–º –∏ –ø—Ä–æ–≤–µ—Ä—å—Ç–µ, 
# –Ω–∞ –∫–∞–∫–æ–π –º–µ—Å—è—Ü –±—Ä–æ–Ω–∏—Ä–æ–≤–∞–Ω–∏—è –æ—Ç–µ–ª—è —Ç–∏–ø–∞ City Hotel –æ—Ç–º–µ–Ω—è–ª–∏—Å—å —á–∞—â–µ –≤—Å–µ–≥–æ –≤ –∫–∞–∂–¥—ã–π –∏–∑ –ø–µ—Ä–∏–æ–¥–æ–≤

# –ü–æ—Å–º–æ—Ç—Ä–∏—Ç–µ –Ω–∞ —á–∏—Å–ª–æ–≤—ã–µ —Ö–∞—Ä–∞–∫—Ç–µ—Ä–∏—Å—Ç–∏–∫–∏ —Ç—Ä—ë—Ö –ø–µ—Ä–µ–º–µ–Ω–Ω—ã—Ö: adults, children –∏ babies. 
#     –ö–∞–∫–∞—è –∏–∑ –Ω–∏—Ö –∏–º–µ–µ—Ç –Ω–∞–∏–±–æ–ª—å—à–µ–µ —Å—Ä–µ–¥–Ω–µ–µ –∑–Ω–∞—á–µ–Ω–∏–µ?
# –°–æ–∑–¥–∞–π—Ç–µ –∫–æ–ª–æ–Ω–∫—É total_kids, –æ–±—ä–µ–¥–∏–Ω–∏–≤ children –∏ babies. 
# –î–ª—è –æ—Ç–µ–ª–µ–π –∫–∞–∫–æ–≥–æ —Ç–∏–ø–∞ —Å—Ä–µ–¥–Ω–µ–µ –∑–Ω–∞—á–µ–Ω–∏–µ –ø–µ—Ä–µ–º–µ–Ω–Ω–æ–π –æ–∫–∞–∑–∞–ª–æ—Å—å –Ω–∞–∏–±–æ–ª—å—à–∏–º?
# –°–æ–∑–¥–∞–π—Ç–µ –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é has_kids, –∫–æ—Ç–æ—Ä–∞—è –ø—Ä–∏–Ω–∏–º–∞–µ—Ç –∑–Ω–∞—á–µ–Ω–∏–µ True, 
# –µ—Å–ª–∏ –∫–ª–∏–µ–Ω—Ç –ø—Ä–∏ –±—Ä–æ–Ω–∏—Ä–æ–≤–∞–Ω–∏–∏ —É–∫–∞–∑–∞–ª —Ö–æ—Ç—è –±—ã –æ–¥–Ω–æ–≥–æ —Ä–µ–±–µ–Ω–∫–∞ (total_kids), –≤ –ø—Ä–æ—Ç–∏–≤–Ω–æ–º —Å–ª—É—á–∞–µ ‚Äì False. 
# –ü–æ—Å—á–∏—Ç–∞–π—Ç–µ –æ—Ç–Ω–æ—à–µ–Ω–∏–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ —É—à–µ–¥—à–∏—Ö –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –∫ –æ–±—â–µ–º—É –∫–æ–ª–∏—á–µ—Å—Ç–≤—É –∫–ª–∏–µ–Ω—Ç–æ–≤, –≤
# —ã—Ä–∞–∂–µ–Ω–Ω–æ–µ –≤ –ø—Ä–æ—Ü–µ–Ω—Ç–∞—Ö (churn rate). –£–∫–∞–∂–∏—Ç–µ, —Å—Ä–µ–¥–∏ –∫–∞–∫–æ–π –≥—Ä—É–ø–ø—ã –ø–æ–∫–∞–∑–∞—Ç–µ–ª—å –≤—ã—à–µ.
 

# –û–ø–∏—Å–∞–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö
# –ò–º–µ—é—Ç—Å—è —Å–ª–µ–¥—É—é—â–∏–µ –ø–µ—Ä–µ–º–µ–Ω–Ω—ã–µ:

# Hotel ‚Äì —Ç–∏–ø –æ—Ç–µ–ª—è (City Hotel –∏–ª–∏ Resort Hotel)  
# Is canceled ‚Äì –±—Ä–æ–Ω–∏—Ä–æ–≤–∞–Ω–∏–µ –±—ã–ª–æ –æ—Ç–º–µ–Ω–µ–Ω–æ (1) –∏–ª–∏ –Ω–µ—Ç (0); –Ω–µ –æ—Ç–º–µ–Ω–µ–Ω–Ω–æ–µ —Å—á–∏—Ç–∞–µ—Ç—Å—è —É—Å–ø–µ—à–Ω—ã–º
# Lead time ‚Äì –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –¥–Ω–µ–π, –ø—Ä–æ—à–µ–¥—à–∏—Ö –º–µ–∂–¥—É –¥–∞—Ç–æ–π –±—Ä–æ–Ω–∏—Ä–æ–≤–∞–Ω–∏—è –∏ –¥–∞—Ç–æ–π –ø—Ä–∏–±—ã—Ç–∏—è  
# Arrival full date ‚Äì –ø–æ–ª–Ω–∞—è –¥–∞—Ç–∞ –ø—Ä–∏–±—ã—Ç–∏—è
# Arrival date year ‚Äì –≥–æ–¥ –ø—Ä–∏–±—ã—Ç–∏—è  
# Arrival date month ‚Äì –º–µ—Å—è—Ü –ø—Ä–∏–±—ã—Ç–∏—è  
# Arrival date week number ‚Äì –Ω–æ–º–µ—Ä –Ω–µ–¥–µ–ª–∏ –ø—Ä–∏–±—ã—Ç–∏—è
# Arrival date day of month ‚Äì –¥–µ–Ω—å –ø—Ä–∏–±—ã—Ç–∏—è
# Stays in weekend nights ‚Äì –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –≤—ã—Ö–æ–¥–Ω—ã—Ö (—Å—É–±–±–æ—Ç–∞ –∏–ª–∏ –≤–æ—Å–∫—Ä–µ—Å–µ–Ω—å–µ), –∫–æ—Ç–æ—Ä—ã–µ –≥–æ—Å—Ç—å –∑–∞–±—Ä–æ–Ω–∏—Ä–æ–≤–∞–ª –¥–ª—è –ø—Ä–æ–∂–∏–≤–∞–Ω–∏—è –≤ –æ—Ç–µ–ª–µ
# Stays in week nights ‚Äì –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –¥–Ω–µ–π (—Å –ø–æ–Ω–µ–¥–µ–ª—å–Ω–∏–∫–∞ –ø–æ –ø—è—Ç–Ω–∏—Ü—É), –∫–æ—Ç–æ—Ä—ã–µ –≥–æ—Å—Ç—å –∑–∞–±—Ä–æ–Ω–∏—Ä–æ–≤–∞–ª –¥–ª—è –ø—Ä–æ–∂–∏–≤–∞–Ω–∏—è –≤ –æ—Ç–µ–ª–µ
# Stays total nights ‚Äì –æ–±—â–µ–µ —á–∏—Å–ª–æ –∑–∞–±—Ä–æ–Ω–∏—Ä–æ–≤–∞–Ω–Ω—ã—Ö –Ω–æ—á–µ–π (—Å—É–º–º–∞ –¥–≤—É—Ö –ø—Ä–µ–¥—ã–¥—É—â–∏—Ö –∫–æ–ª–æ–Ω–æ–∫)
# Adults ‚Äì —á–∏—Å–ª–æ –≤–∑—Ä–æ—Å–ª—ã—Ö
# Children ‚Äì —á–∏—Å–ª–æ –¥–µ—Ç–µ–π
# Babies ‚Äì —á–∏—Å–ª–æ –º–ª–∞–¥–µ–Ω—Ü–µ–≤ 
# Meal ‚Äì –≤—ã–±—Ä–∞–Ω–Ω—ã–π —Ç–∏–ø –ø–∏—Ç–∞–Ω–∏—è
# Country ‚Äì —Å—Ç—Ä–∞–Ω–∞ –ø—Ä–æ–∏—Å—Ö–æ–∂–¥–µ–Ω–∏—è –∫–ª–∏–µ–Ω—Ç–∞
# Reserved room type ‚Äì —Ç–∏–ø –∑–∞—Ä–µ–∑–µ—Ä–≤–∏—Ä–æ–≤–∞–Ω–Ω–æ–≥–æ –Ω–æ–º–µ—Ä–∞
# Assigned room type ‚Äì —Ç–∏–ø –ø–æ–ª—É—á–µ–Ω–Ω–æ–≥–æ –Ω–æ–º–µ—Ä–∞ (–º–æ–∂–µ—Ç –æ—Ç–ª–∏—á–∞—Ç—å—Å—è –æ—Ç –∑–∞–±—Ä–æ–Ω–∏—Ä–æ–≤–∞–Ω–Ω–æ–≥–æ)
# Customer type ‚Äì —Ç–∏–ø –±—Ä–æ–Ω–∏—Ä–æ–≤–∞–Ω–∏—è
# Reservation status ‚Äì –∑–Ω–∞—á–µ–Ω–∏–µ –ø–æ—Å–ª–µ–¥–Ω–µ–≥–æ —Å—Ç–∞—Ç—É—Å–∞ –±—Ä–æ–Ω–∏: Canceled - –±—ã–ª–æ –æ—Ç–º–µ–Ω–µ–Ω–æ –∫–ª–∏–µ–Ω—Ç–æ–º; Check-Out - –∫–ª–∏–µ–Ω—Ç –∑–∞—Ä–µ–≥–∏—Å—Ç—Ä–∏—Ä–æ–≤–∞–ª—Å—è,
#     –Ω–æ —É–∂–µ –ø–æ–∫–∏–Ω—É–ª –æ—Ç–µ–ª—å; No-Show - –∫–ª–∏–µ–Ω—Ç –Ω–µ –∑–∞—Ä–µ–≥–∏—Å—Ç—Ä–∏—Ä–æ–≤–∞–ª—Å—è –∏ —Å–æ–æ–±—â–∏–ª –∞–¥–º–∏–Ω–∏—Å—Ç—Ä–∞—Ü–∏–∏ –æ—Ç–µ–ª—è –ø—Ä–∏—á–∏–Ω—É
# Reservation status date ‚Äì –¥–∞—Ç–∞ –æ–±–Ω–æ–≤–ª–µ–Ω–∏—è —Å—Ç–∞—Ç—É—Å–∞

In [2]:
import pandas as pd

In [ ]:
#  –ù—É—Å.... –ù–ê–ß–ù–ï–ú )

# –í–æ–ø—Ä–æ—Å ‚Ññ 1( –Ω—É –≤–µ—Ä–Ω–µ–µ –∑–∞–¥–∞–Ω–∏–µ)

# –ò–º–ø–æ—Ä—Ç–∏—Ä—É–π—Ç–µ –±–∏–±–ª–∏–æ—Ç–µ–∫—É pandas –∫–∞–∫ pd. –ü—Ä–æ—á–∏—Ç–∞–π—Ç–µ –¥–∞—Ç–∞—Å–µ—Ç bookings.csv —Å —Ä–∞–∑–¥–µ–ª–∏—Ç–µ–ª–µ–º ;. –°—Å—ã–ª–∫–∞ –Ω–∞ –¥–∞—Ç–∞—Å–µ—Ç –Ω–∞—Ö–æ–¥–∏—Ç—Å—è –≤ –ø–µ—Ä–µ–º–µ–Ω–Ω–æ–π path_to_file.

# –°–æ—Ö—Ä–∞–Ω–∏—Ç–µ –ø—Ä–æ—á–∏—Ç–∞–Ω–Ω—ã–π –¥–∞—Ç–∞—Å–µ—Ç –≤ bookings.

# –ó–∞—Ç–µ–º –∑–∞–ø–∏—à–∏—Ç–µ –ø–µ—Ä–≤—ã–µ 7 —Å—Ç—Ä–æ–∫ –≤ –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é bookings_head.

In [3]:
path_to_file = "/mnt/HC_Volume_18315164/home-jupyter/jupyter-s-kamsarin/shared/homeworks/python_ds_miniprojects/2/bookings.csv"

In [4]:
bookings = pd.read_csv(path_to_file, sep =';')

In [5]:
bookings_head = bookings.head(7)

In [6]:
bookings_head

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

In [ ]:
# –í–æ–ø—Ä–æ—Å ‚Ññ 2
# –ü–æ—Å–º–æ—Ç—Ä–∏—Ç–µ –Ω–∞ —Ä–∞–∑–º–µ—Ä—ã —Ç–∞–±–ª–∏—Ü—ã. –°–∫–æ–ª—å–∫–æ –≤—Å–µ–≥–æ –≤ –Ω–µ–π —Å—Ç–æ–ª–±—Ü–æ–≤?

In [7]:
bookings.shape

(119390, 21)

In [ ]:
# –û—Ç–≤–µ—Ç - 21

In [ ]:
# –í–æ–ø—Ä–æ—Å ‚Ññ 3
# –ö –∫–∞–∫–æ–º—É —Ç–∏–ø—É/–∫–∞–∫–∏–º —Ç–∏–ø–∞–º –æ—Ç–Ω–æ—Å–∏—Ç—Å—è –±–æ–ª—å—à–∏–Ω—Å—Ç–≤–æ –ø–µ—Ä–µ–º–µ–Ω–Ω—ã—Ö?

In [8]:
bookings.dtypes

Hotel                         object
Is Canceled                    int64
Lead Time                      int64
arrival full date             object
Arrival Date Year              int64
Arrival Date Month            object
Arrival Date Week Number       int64
Arrival Date Day of Month      int64
Stays in Weekend nights        int64
Stays in week nights           int64
stays total nights             int64
Adults                         int64
Children                     float64
Babies                         int64
Meal                          object
Country                       object
Reserved Room Type            object
Assigned room type            object
customer type                 object
Reservation Status            object
Reservation status_date       object
dtype: object

In [ ]:
# –ø–æ—Å—á–∏—Ç–∞–ª –ø–∞–ª—å—Ü–µ–º –ø–æ —ç–∫—Ä–∞–Ω—É)) –∏—Ç–æ–≥–æ = 10 + 10 + 1

In [18]:
#  –ó–ê–¥–∞–Ω–∏–µ ‚Ññ4
# –ö–∞–∫ –≤—ã —É–∂–µ –º–æ–≥–ª–∏ –∑–∞–º–µ—Ç–∏—Ç—å, –ø—Ä–∏ —Å–±–æ—Ä–µ –¥–∞—Ç–∞—Å–µ—Ç–∞ –ø—Ä–æ–∏–∑–æ—à–ª–∞ –Ω–µ–±–æ–ª—å—à–∞—è –æ—à–∏–±–∫–∞, 
# –∏ –Ω–∞–∑–≤–∞–Ω–∏—è –∫–æ–ª–æ–Ω–æ–∫ –±—ã–ª–∏ –∑–∞–ø–∏—Å–∞–Ω—ã –≤ –Ω–µ—É–¥–æ–±–Ω–æ–º –¥–ª—è –¥–∞–ª—å–Ω–µ–π—à–µ–π —Ä–∞–±–æ—Ç—ã —Ñ–æ—Ä–º–∞—Ç–µ. 
# –ò—Å–ø—Ä–∞–≤—å—Ç–µ —Å–∏—Ç—É–∞—Ü–∏—é, –ø—Ä–∏–≤–µ–¥—è –Ω–∞–∑–≤–∞–Ω–∏—è —Å—Ç–æ–ª–±—Ü–æ–≤ –∫ –Ω–∏–∂–Ω–µ–º—É —Ä–µ–≥–∏—Å—Ç—Ä—É –∏ –∑–∞–º–µ–Ω–∏–≤ –ø—Ä–æ–±–µ–ª—ã –Ω–∞ –∑–Ω–∞–∫ –Ω–∏–∂–Ω–µ–≥–æ –ø–æ–¥—á–µ—Ä–∫–∏–≤–∞–Ω–∏—è. 
# –ù–∞–ø—Ä–∏–º–µ—Ä: Is Canceled -> is_canceled

# –ú–æ–≥—É—Ç –ø—Ä–∏–≥–æ–¥–∏—Ç—å—Å—è: 

# rename
# str.lower
# str.replace
# columns

In [9]:
bookings.columns

Index(['Hotel', 'Is Canceled', 'Lead Time', 'arrival full date',
       'Arrival Date Year', 'Arrival Date Month', 'Arrival Date Week Number',
       'Arrival Date Day of Month', 'Stays in Weekend nights',
       'Stays in week nights', 'stays total nights', 'Adults', 'Children',
       'Babies', 'Meal', 'Country', 'Reserved Room Type', 'Assigned room type',
       'customer type', 'Reservation Status', 'Reservation status_date'],
      dtype='object')

In [15]:
def replace_space_low(name):
    new_name = name.replace(' ', '_').lower()
    return new_name
bookings = bookings.rename(columns = replace_space_low)

In [16]:
bookings.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_full_date',
       'arrival_date_year', 'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'stays_total_nights', 'adults', 'children',
       'babies', 'meal', 'country', 'reserved_room_type', 'assigned_room_type',
       'customer_type', 'reservation_status', 'reservation_status_date'],
      dtype='object')

In [17]:
bookings.dtypes

hotel                         object
is_canceled                    int64
lead_time                      int64
arrival_full_date             object
arrival_date_year              int64
arrival_date_month            object
arrival_date_week_number       int64
arrival_date_day_of_month      int64
stays_in_weekend_nights        int64
stays_in_week_nights           int64
stays_total_nights             int64
adults                         int64
children                     float64
babies                         int64
meal                          object
country                       object
reserved_room_type            object
assigned_room_type            object
customer_type                 object
reservation_status            object
reservation_status_date       object
dtype: object

In [ ]:
# –¢–µ–ø–µ—Ä–∏—á–∞ –≤—Ä–æ–¥–µ —É—Å–µ –æ–∫–µ–π

In [ ]:
#  –ó–ê–¥–∞–Ω–∏–µ ‚Ññ5
# üíÄ –°–ª–æ–∂–Ω–æ–µ –∑–∞–¥–∞–Ω–∏–µ! üíÄ

# –ü–µ—Ä–µ–π–¥–µ–º –∫ –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—é –¥–∞–Ω–Ω—ã—Ö! 
# –ü–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–∏ –∏–∑ –∫–∞–∫–∏—Ö —Å—Ç—Ä–∞–Ω —Å–æ–≤–µ—Ä—à–∏–ª–∏ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ —É—Å–ø–µ—à–Ω—ã—Ö –±—Ä–æ–Ω–∏—Ä–æ–≤–∞–Ω–∏–π? 
# –ë—Ä–æ–Ω–∏—Ä–æ–≤–∞–Ω–∏–µ —Å—á–∏—Ç–∞–µ—Ç—Å—è —É—Å–ø–µ—à–Ω—ã–º, –µ—Å–ª–∏ –≤ –¥–∞–ª—å–Ω–µ–π—à–µ–º –Ω–µ –±—ã–ª–æ –æ—Ç–º–µ–Ω–µ–Ω–æ (–ø–µ—Ä–µ–º–µ–Ω–Ω–∞—è is_canceled).
# –í –∫–∞—á–µ—Å—Ç–≤–µ –æ—Ç–≤–µ—Ç–∞ –≤—ã–±–µ—Ä–∏—Ç–µ —Å—Ç—Ä–∞–Ω—ã, –≤—Ö–æ–¥—è—â–∏–µ –≤ —Ç–æ–ø-5.

In [22]:

bookings.country.value_counts()

PRT    48590
GBR    12129
FRA    10415
ESP     8568
DEU     7287
       ...
CYM        1
LCA        1
DMA        1
AIA        1
HND        1
Name: country, Length: 177, dtype: int64

In [25]:
# product_data.query("title == '–ö—É—Ä—Å –æ–±—É—á–µ–Ω–∏—è ¬´–≠–∫—Å–ø–µ—Ä—Ç¬ª' and status == '–ó–∞–≤–µ—Ä—à–µ–Ω'")

bookings.query("is_canceled == False").country.value_counts()

PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
       ...
MAC        1
MLI        1
LCA        1
GUY        1
DMA        1
Name: country, Length: 165, dtype: int64

In [ ]:
# –û—Ç–≤–µ—Ç –≤–µ—Ä–Ω—ã–π

In [ ]:
# –∑–∞–¥–∞–Ω–∏–µ ‚Ññ 6

# –ù–∞ —Å–∫–æ–ª—å–∫–æ –Ω–æ—á–µ–π (stays_total_nights)  –≤ —Å—Ä–µ–¥–Ω–µ–º –±—Ä–æ–Ω–∏—Ä—É—é—Ç –æ—Ç–µ–ª–∏ —Ç–∏–ø–∞ City Hotel? Resort Hotel? 
# –ó–∞–ø–∏—à–∏—Ç–µ –ø–æ–ª—É—á–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –≤ –ø—Ä–æ–ø—É—Å–∫–∏ —Å —Ç–æ—á–Ω–æ—Å—Ç—å—é –¥–æ 2 –∑–Ω–∞–∫–æ–≤ –ø–æ—Å–ª–µ —Ç–æ—á–∫–∏.

# –ú–æ–∂–µ—Ç –ø—Ä–∏–≥–æ–¥–∏—Ç—å—Å—è: round

In [26]:
bookings.head()

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03

In [28]:
bookings.groupby('hotel').agg({'stays_total_nights': 'mean'}).round(2)

              stays_total_nights
hotel
City Hotel                  2.98
Resort Hotel                4.32

In [ ]:
# –∑–∞–¥–∞–Ω–∏–µ —Å–¥–∞–Ω–æ ! –Ω–∞—á–∏—Å–ª–µ–Ω 1 –ë–∞–ª–ª ! –∞ –≤–µ–¥—å —Ç–∞–∫–æ–µ –ø–æ–ª–µ–∑–Ω–æ–µ –¥–µ–ª–æ —Å–¥–µ–ª–∞–ª–∏ )

In [ ]:
# –∑–∞–¥–∞–Ω–∏–µ ‚Ññ 7
# –ò–Ω–æ–≥–¥–∞ —Ç–∏–ø –Ω–æ–º–µ—Ä–∞, –ø—Ä–∏—Å–≤–æ–µ–Ω–Ω–æ–≥–æ –∫–ª–∏–µ–Ω—Ç—É (assigned_room_type), 
# –æ—Ç–ª–∏—á–∞–µ—Ç—Å—è –æ—Ç –∏–∑–Ω–∞—á–∞–ª—å–Ω–æ –∑–∞–±—Ä–æ–Ω–∏—Ä–æ–≤–∞–Ω–Ω–æ–≥–æ (reserved_room_type). 
# –¢–∞–∫–æ–µ –º–æ–∂–µ—Ç –ø—Ä–æ–∏–∑–æ–π—Ç–∏, –Ω–∞–ø—Ä–∏–º–µ—Ä, –ø–æ –ø—Ä–∏—á–∏–Ω–µ –æ–≤–µ—Ä–±—É–∫–∏–Ω–≥–∞.

# –°–∫–æ–ª—å–∫–æ –ø–æ–¥–æ–±–Ω—ã—Ö –Ω–∞–±–ª—é–¥–µ–Ω–∏–π –≤—Å—Ç—Ä–µ—Ç–∏–ª–æ—Å—å –≤ –¥–∞—Ç–∞—Å–µ—Ç–µ?

In [30]:
bookings.query('assigned_room_type != reserved_room_type ').shape

(14917, 21)

In [ ]:
# –û—Ç–≤–µ—Ç 14917 ... –î–∞ —á–∞—Å—Ç–æ –ø—Ä–æ–∏—Å—Ö–æ–¥–∏—Ç –∑–∞–º–µ–Ω–∞

In [ ]:
# –∑–∞–¥–∞–Ω–∏–µ ‚Ññ 8
# –¢–µ–ø–µ—Ä—å –ø—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä—É–π—Ç–µ –¥–∞—Ç—ã –∑–∞–ø–ª–∞–Ω–∏—Ä–æ–≤–∞–Ω–Ω–æ–≥–æ –ø—Ä–∏–±—ã—Ç–∏—è (arrival_date_year).

# –ù–∞ –∫–∞–∫–æ–π –º–µ—Å—è—Ü —á–∞—â–µ –≤—Å–µ–≥–æ –æ—Ñ–æ—Ä–º–ª—è–ª–∏ –±—Ä–æ–Ω—å –≤ 2016 –≥–æ–¥—É? –ò–∑–º–µ–Ω–∏–ª—Å—è –ª–∏ —Å–∞–º—ã–π –ø–æ–ø—É–ª—è—Ä–Ω—ã–π –º–µ—Å—è—Ü –≤ 2017?

In [32]:
bookings.query('arrival_date_year == 2016').arrival_date_month.value_counts()

October      6203
May          5478
April        5428
September    5394
June         5292
August       5063
March        4824
July         4572
November     4454
February     3891
December     3860
January      2248
Name: arrival_date_month, dtype: int64

In [33]:
bookings.query('arrival_date_year == 2017').arrival_date_month.value_counts()

May         6313
April       5661
June        5647
July        5313
March       4970
August      4925
February    4177
January     3681
Name: arrival_date_month, dtype: int64

In [ ]:
# Answer
# –í 2016 —á–∞—â–µ –≤—Å–µ–≥–æ –±—Ä–æ–Ω–∏—Ä–æ–≤–∞–ª–∏ –æ—Ç–µ–ª—å –Ω–∞ –æ–∫—Ç—è–±—Ä—å
# –í 2017 —á–∞—â–µ –≤—Å–µ–≥–æ –æ—Ñ–æ—Ä–º–ª—è–ª–∏ –±—Ä–æ–Ω–∏—Ä–æ–≤–∞–Ω–∏–µ –Ω–∞ –º–∞–π

In [34]:
# –∑–∞–¥–∞–Ω–∏–µ ‚Ññ 9
# –°–≥—Ä—É–ø–ø–∏—Ä—É–π—Ç–µ –¥–∞–Ω–Ω—ã–µ –ø–æ –≥–æ–¥–∞–º, –∞ –∑–∞—Ç–µ–º –ø—Ä–æ–≤–µ—Ä—å—Ç–µ, –Ω–∞ –∫–∞–∫–æ–π –º–µ—Å—è—Ü (arrival_date_month)
# –±—Ä–æ–Ω–∏—Ä–æ–≤–∞–Ω–∏—è –æ—Ç–µ–ª—è —Ç–∏–ø–∞ City Hotel –æ—Ç–º–µ–Ω—è–ª–∏—Å—å —á–∞—â–µ –≤—Å–µ–≥–æ –≤ 2015? 2016? 2017? 

# Hint: –¥–ª—è —ç—Ç–æ–≥–æ —Å–Ω–∞—á–∞–ª–∞ –ø—Ä–∏–º–µ–Ω–∏—Ç–µ –º–µ—Ç–æ–¥ groupby, –ø–æ—Å–ª–µ —á–µ–≥–æ –≤—ã–±–µ—Ä–∏—Ç–µ –Ω—É–∂–Ω—É—é –∫–æ–ª–æ–Ω–∫—É –¥–ª—è –¥–∞–ª—å–Ω–µ–π—à–∏—Ö –¥–µ–π—Å—Ç–≤–∏–π :)
# –ù–∞–ø—Ä–∏–º–µ—Ä:

# df.groupby('column_1')['column_2'].what_to_do()
# - **–ö–∞–∫ —Ä–µ—à–∞—Ç—å —ç—Ç–æ –∑–∞–¥–∞–Ω–∏–µ?**
    
#     –ù—É–∂–Ω–æ –æ—Ç–æ–±—Ä–∞—Ç—å —Å–∞–±—Å—ç—Ç –¥–∞–Ω–Ω—ã—Ö, –≥–¥–µ —Ç–∏–ø –æ—Ç–µ–ª—è City Hotel –∏ –±—Ä–æ–Ω—å –±—ã–ª–∞ –æ—Ç–º–µ–Ω–µ–Ω–∞. –ó–∞—Ç–µ–º –Ω—É–∂–Ω–æ —Å–≥—Ä—É–ø–ø–∏—Ä–æ–≤–∞—Ç—å –¥–∞–Ω–Ω—ã–µ –ø–æ –≥–æ–¥–∞–º,
#     –∏ –ø–æ—Å—á–∏—Ç–∞—Ç—å –≤ –∫–∞–∂–¥–æ–π –≥—Ä—É–ø–ø–µ —á–∏—Å–ª–æ –æ—Ç–º–µ–Ω –≤ –∫–∞–∂–¥—ã–π –∏–∑ –º–µ—Å—è—Ü–µ–≤
    
# - **–ö–∞–∫ —ç—Ç–æ —Å–¥–µ–ª–∞—Ç—å?**
    
#     –î–ª—è –æ—Ç–±–æ—Ä–∞ —Å—Ç—Ä–æ–∫ –∏—Å–ø–æ–ª—å–∑—É–π—Ç–µ –º–µ—Ç–æ–¥ `query`, 
#     –≥–¥–µ –Ω—É–∂–Ω–æ —Å–ø–µ—Ü–∏—Ñ–∏—Ü–∏—Ä–æ–≤–∞—Ç—å —Ç–∏–ø –æ—Ç–µ–ª—è –∏ —á—Ç–æ –±—Ä–æ–Ω—å –±—ã–ª–∞ –æ—Ç–º–µ–Ω–µ–Ω–∞ (`is_canceled` —Ä–∞–≤–Ω–æ `1`).
#     –°–≥—Ä—É–ø–ø–∏—Ä—É–π—Ç–µ –¥–∞–Ω–Ω—ã–µ –ø–æ –≥–æ–¥–∞–º, –∞ –∑–∞—Ç–µ–º –≤—ã–±–µ—Ä–∏—Ç–µ –∫–æ–ª–æ–Ω–∫—É –º–µ—Å—è—Ü–∞ –∏ –ø–æ—Å—á–∏—Ç–∞–π—Ç–µ —á–∞—Å—Ç–æ—Ç—ã –º–µ—Ç–æ–¥–æ–º `value_counts`

In [47]:
bookings.query('hotel == "City Hotel" and is_canceled == 1').groupby('arrival_date_year').arrival_date_month.value_counts()

arrival_date_year  arrival_date_month
2015               September             1543
                   October               1321
                   August                1232
                   July                   939
                   December               668
                   November               301
2016               October               1947
                   June                  1720
                   September             1567
                   April                 1539
                   May                   1436
                   November              1360
                   August                1247
                   March                 1108
                   December              1072
                   July                  1043
                   February               930
                   January                438
2017               May                   2217
                   April                 1926
                   June                  1808
                   July                  1324
                   March                 1278
                   August                1123
                   January               1044
                   February               971
Name: arrival_date_month, dtype: int64

In [ ]:
# –û—Ç–≤–µ—Ç –≤–µ—Ä–Ω—ã–π

In [ ]:
# –∑–∞–¥–∞–Ω–∏–µ ‚Ññ 10
# –ü–æ—Å–º–æ—Ç—Ä–∏—Ç–µ –Ω–∞ —á–∏—Å–ª–æ–≤—ã–µ —Ö–∞—Ä–∞–∫—Ç–µ—Ä–∏—Å—Ç–∏–∫–∏ —Ç—Ä—ë—Ö –∫–æ–ª–æ–Ω–æ–∫: adults, children –∏ babies. 
#     –ö–∞–∫–∞—è –∏–∑ –Ω–∏—Ö –∏–º–µ–µ—Ç –Ω–∞–∏–±–æ–ª—å—à–µ–µ —Å—Ä–µ–¥–Ω–µ–µ –∑–Ω–∞—á–µ–Ω–∏–µ?

In [48]:
bookings.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_full_date',
       'arrival_date_year', 'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'stays_total_nights', 'adults', 'children',
       'babies', 'meal', 'country', 'reserved_room_type', 'assigned_room_type',
       'customer_type', 'reservation_status', 'reservation_status_date'],
      dtype='object')

In [53]:
bookings[['adults', 'children','babies' ]].mean()

adults      1.856403
children    0.103890
babies      0.007949
dtype: float64

In [54]:
bookings[['adults', 'children','babies' ]].mean().idxmax()

'adults'

In [ ]:
# .idxmax() –í—ã–¥–∞–ª –º–∞–∫—Å–∏–º–∞–ª—å–Ω—ã–π –∏–Ω–¥–µ–∫—Å

In [ ]:
# –∑–∞–¥–∞–Ω–∏–µ ‚Ññ 11
# –°–æ–∑–¥–∞–π—Ç–µ –∫–æ–ª–æ–Ω–∫—É total_kids, –æ–±—ä–µ–¥–∏–Ω–∏–≤ —Å—Ç–æ–ª–±—Ü—ã children –∏ babies. 
# –î–ª—è –æ—Ç–µ–ª–µ–π –∫–∞–∫–æ–≥–æ —Ç–∏–ø–∞ —Å—Ä–µ–¥–Ω–µ–µ –∑–Ω–∞—á–µ–Ω–∏–µ –ø–µ—Ä–µ–º–µ–Ω–Ω–æ–π –æ–∫–∞–∑–∞–ª–æ—Å—å –Ω–∞–∏–±–æ–ª—å—à–∏–º?

# City hotel ‚Äì –æ—Ç–µ–ª—å –Ω–∞—Ö–æ–¥–∏—Ç—Å—è –≤ –≥–æ—Ä–æ–¥–µ
# Resort hotel ‚Äì –æ—Ç–µ–ª—å –∫—É—Ä–æ—Ä—Ç–Ω—ã–π
# –í –∫–∞—á–µ—Å—Ç–≤–µ –æ—Ç–≤–µ—Ç–∞ —É–∫–∞–∂–∏—Ç–µ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —Å—Ä–µ–¥–Ω–µ–µ total_kids, –æ–∫—Ä—É–≥–ª–∏–≤ –¥–æ 2 –∑–Ω–∞–∫–æ–≤ –ø–æ—Å–ª–µ —Ç–æ—á–∫–∏.

In [120]:
bookings['total_kids'] = bookings.children + bookings.babies

In [62]:
bookings.groupby('hotel').agg({'total_kids': 'mean'}).round(2)

              total_kids
hotel
City Hotel          0.10
Resort Hotel        0.14

In [63]:
bookings.groupby('hotel').agg({'total_kids': 'mean'}).round(2).max()

total_kids    0.14
dtype: float64

In [ ]:
# –û—Ç–≤–µ—Ç 0,14 –Ω–æ —á–µ—Å—Ç–Ω–æ –ø—Ä–æ–∫–∞ –Ω–µ –ø–æ–Ω—è—Ç–Ω–æ –¥–ª—è –∫–∞–∫–∏—Ö —Ü–µ–ª–µ–π

In [ ]:
# –∑–∞–¥–∞–Ω–∏–µ ‚Ññ 12
# üíÄ –°–ª–æ–∂–Ω–æ–µ –∑–∞–¥–∞–Ω–∏–µ! üíÄ

# –ù–µ –≤—Å–µ –±—Ä–æ–Ω–∏—Ä–æ–≤–∞–Ω–∏—è –∑–∞–≤–µ—Ä—à–∏–ª–∏—Å—å —É—Å–ø–µ—à–Ω–æ (is_canceled), –ø–æ—ç—Ç–æ–º—É –º–æ–∂–Ω–æ –ø–æ—Å—á–∏—Ç–∞—Ç—å, —Å–∫–æ–ª—å–∫–æ –∫–ª–∏–µ–Ω—Ç–æ–≤ –±—ã–ª–æ –ø–æ—Ç–µ—Ä—è–Ω–æ –≤ –ø—Ä–æ—Ü–µ—Å—Å–µ.
# –ò–Ω—ã–º–∏ —Å–ª–æ–≤–∞–º–∏, –ø–æ—Å—á–∏—Ç–∞—Ç—å –º–µ—Ç—Ä–∏–∫—É –ø–æ–¥ –Ω–∞–∑–≤–∞–Ω–∏–µ–º Churn Rate.

# Churn rate (–æ—Ç—Ç–æ–∫, –∫–æ—ç—Ñ—Ñ–∏—Ü–∏–µ–Ω—Ç –æ—Ç—Ç–æ–∫–∞) ‚Äì —ç—Ç–æ –ø—Ä–æ—Ü–µ–Ω—Ç –ø–æ–¥–ø–∏—Å—á–∏–∫–æ–≤ (–Ω–∞–ø—Ä–∏–º–µ—Ä, –Ω–∞ push-—É–≤–µ–¥–æ–º–ª–µ–Ω–∏—è –æ—Ç —Å–∞–π—Ç–∞), 
# –∫–æ—Ç–æ—Ä—ã–µ –æ—Ç–ø–∏—Å–∞–ª–∏—Å—å –æ—Ç –∫–∞–Ω–∞–ª–∞ –∫–æ–º–º—É–Ω–∏–∫–∞—Ü–∏–∏, –æ—Ç–∫–∞–∑–∞–ª–∏—Å—å –æ—Ç —É—Å–ª—É–≥ —Å–µ—Ä–≤–∏—Å–∞ –≤ —Ç–µ—á–µ–Ω–∏–µ –æ–ø—Ä–µ–¥–µ–ª–µ–Ω–Ω–æ–≥–æ –ø–µ—Ä–∏–æ–¥–∞ –≤—Ä–µ–º–µ–Ω–∏. 
# –ò–Ω—ã–º–∏ —Å–ª–æ–≤–∞–º–∏, –ø—Ä–µ–¥—Å—Ç–∞–≤–ª—è–µ—Ç —Å–æ–±–æ–π –æ—Ç–Ω–æ—à–µ–Ω–∏–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ —É—à–µ–¥—à–∏—Ö –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –∫ –æ–±—â–µ–º—É –∫–æ–ª–∏—á–µ—Å—Ç–≤—É –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π,
# –≤—ã—Ä–∞–∂–µ–Ω–Ω–æ–µ –≤ –ø—Ä–æ—Ü–µ–Ω—Ç–∞—Ö.

# –í –Ω–∞—à–µ–º —Å–ª—É—á–∞–µ Churn Rate - —ç—Ç–æ –ø—Ä–æ—Ü–µ–Ω—Ç –∫–ª–∏–µ–Ω—Ç–æ–≤, –∫–æ—Ç–æ—Ä—ã–µ –æ—Ç–º–µ–Ω–∏–ª–∏ –±—Ä–æ–Ω–∏—Ä–æ–≤–∞–Ω–∏–µ. 
# –î–∞–≤–∞–π—Ç–µ –ø–æ—Å–º–æ—Ç—Ä–∏–º, –∫–∞–∫ —ç—Ç–∞ –º–µ—Ç—Ä–∏–∫–∞ —Å–≤—è–∑–∞–Ω–∞ —Å –Ω–∞–ª–∏—á–∏–µ–º –¥–µ—Ç–µ–π —É –∫–ª–∏–µ–Ω—Ç–æ–≤!

# –°–æ–∑–¥–∞–π—Ç–µ –∫–æ–ª–æ–Ω–∫—É has_kids, –∫–æ—Ç–æ—Ä–∞—è –ø—Ä–∏–Ω–∏–º–∞–µ—Ç –∑–Ω–∞—á–µ–Ω–∏–µ True, 
# –µ—Å–ª–∏ –∫–ª–∏–µ–Ω—Ç –ø—Ä–∏ –±—Ä–æ–Ω–∏—Ä–æ–≤–∞–Ω–∏–∏ —É–∫–∞–∑–∞–ª —Ö–æ—Ç—è –±—ã –æ–¥–Ω–æ–≥–æ —Ä–µ–±–µ–Ω–∫–∞ (total_kids), –≤ –ø—Ä–æ—Ç–∏–≤–Ω–æ–º —Å–ª—É—á–∞–µ ‚Äì False. 
# –î–∞–ª–µ–µ –ø—Ä–æ–≤–µ—Ä—å—Ç–µ, —Å—Ä–µ–¥–∏ –∫–∞–∫–æ–π –≥—Ä—É–ø–ø—ã –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –ø–æ–∫–∞–∑–∞—Ç–µ–ª—å –æ—Ç—Ç–æ–∫–∞ –≤—ã—à–µ. 

# –í –∫–∞—á–µ—Å—Ç–≤–µ –æ—Ç–≤–µ—Ç–∞ —É–∫–∞–∂–∏—Ç–µ –Ω–∞–∏–±–æ–ª—å—à–∏–π % –æ—Ç—Ç–æ–∫–∞, –æ–∫—Ä—É–≥–ª–µ–Ω–Ω—ã–π –¥–æ 2 –∑–Ω–∞–∫–æ–≤ –ø–æ—Å–ª–µ —Ç–æ—á–∫–∏ 
# (—Ç–æ –µ—Å—Ç—å –¥–æ–ª—è 0.24563 –±—É–¥–µ—Ç 24.56% –∏ –≤ –æ—Ç–≤–µ—Ç –ø–æ–π–¥—ë—Ç 24.56)

In [64]:
bookings.dtypes

hotel                         object
is_canceled                    int64
lead_time                      int64
arrival_full_date             object
arrival_date_year              int64
arrival_date_month            object
arrival_date_week_number       int64
arrival_date_day_of_month      int64
stays_in_weekend_nights        int64
stays_in_week_nights           int64
stays_total_nights             int64
adults                         int64
children                     float64
babies                         int64
meal                          object
country                       object
reserved_room_type            object
assigned_room_type            object
customer_type                 object
reservation_status            object
reservation_status_date       object
total_kids                   float64
dtype: object

In [119]:
bookings['has_kids'] = bookings.total_kids > 0

In [66]:
bookings.dtypes

hotel                         object
is_canceled                    int64
lead_time                      int64
arrival_full_date             object
arrival_date_year              int64
arrival_date_month            object
arrival_date_week_number       int64
arrival_date_day_of_month      int64
stays_in_weekend_nights        int64
stays_in_week_nights           int64
stays_total_nights             int64
adults                         int64
children                     float64
babies                         int64
meal                          object
country                       object
reserved_room_type            object
assigned_room_type            object
customer_type                 object
reservation_status            object
reservation_status_date       object
total_kids                   float64
has_kids                        bool
dtype: object

In [127]:
bookings.query('has_kids  and is_canceled == 1 ').shape[0]

3259

In [128]:
bookings.query('has_kids').shape[0]

9332

In [130]:
curn_rate_has_kids_is_canceled_1 = bookings.query('has_kids and is_canceled == 1 ').shape[0] / bookings.query('has_kids').shape[0]

In [135]:
curn_rate_has_kids_is_canceled_1 * 100

34.92284612087441

In [102]:
bookings.query('has_kids == False and is_canceled == 1 ').shape[0]

40965

In [129]:
bookings.query('has_kids == False ').shape[0]

110058

In [136]:
curn_rate_not_has_kids_is_canceled_1 = bookings.query('has_kids == False and is_canceled == 1 ').shape[0] / bookings.query('has_kids == False ').shape[0]

In [138]:
curn_rate_not_has_kids_is_canceled_1 * 100

37.221283323338604

In [ ]:
#  –î–∞ ... –∑–∞—Ç—É–ø–∏–ª ) —á—Ç–æ –Ω–∞ —á—Ç–æ –¥–µ–ª–∏—Ç—å